@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Manrope:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  scroll-behavior: smooth;
  line-height: 1.5;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
  user-select: none;
}

a {
  color: inherit;
  font-weight: bold;
}

input,
button,
textarea,
select {
  margin: 0;
  border-radius: 0;
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

 :root {
  --palette-5: #fff;
  --palette-6: #92f2ed;
  --color-text-primary: #0a403d;
  --color-links-primary: #13948d;
  --color-bg-primary: var(--palette-5);
}

body {
  font-family: "Manrope", "DM Sans", sans-serif;
  color: var(--color-text-primary);
}

.responsive-wrapper {
  width: 90%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background: var(--color-bg-primary);
  display: flex;
  border-bottom: 2px solid #eee;
  height: 92px;
  border-top: 4px solid #5765C2;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-item {
  margin-left: 1.5rem;
  font-weight: 400;
  font-size: 1.125rem;
  text-decoration: none;
  align-items: center;
  height: 100%;
  position: relative;
  transition: color 0.15s ease;
  display: none;
}

.header-nav-item:after {
  content: "";
  display: block;
  height: 4px;
  transform: scale(0);
  background-color: var(--color-links-primary);
  border-radius: 4px 4px 0 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transition: transform 0.25s ease;
  transform-origin: bottom center;
}

.header-nav-item:hover,
.header-nav-item:focus {
  color: var(--color-links-primary);
}

.header-nav-item:hover:after,
.header-nav-item:focus:after {
  transform: scale(1);
}

@media all and (min-width: 1000px) {
  .header-nav-item {
    display: flex;
  }
}

.link {
  color: var(--color-links-primary);
}

.banner-outer {
  background-repeat: no-repeat; background-size: cover; background-image: url(https://www.wallpaperbetter.com/wallpaper/307/6/331/purple-space-cloud-hd-1080P-wallpaper.jpg);
  padding-top: 4rem;
  padding-bottom: 4rem;
  min-height: 375px;
}

.banner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  align-items: center;
  font-size: 1.125rem;
}

@media all and (min-width: 800px) {
  .banner {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media all and (min-width: 1000px) {
  .banner {
    grid-template-columns: repeat(12, 1fr);
  }
}

@media all and (min-width: 800px) {
  .banner-search-wrapper {
    grid-column: span 3;
  }
}

@media all and (min-width: 1000px) {
  .banner-search-wrapper {
    grid-column: span 7;
  }
}

.banner-image-wrapper {
  text-align: center;
}

@media all and (min-width: 800px) {
  .banner-image-wrapper {
    grid-column: span 3;
  }
}

@media all and (min-width: 1000px) {
  .banner-image-wrapper {
    grid-column: 9/span 4;
  }
}

.banner-image-wrapper svg {
  max-width: 100%;
  max-height: 250px;
}

@media all and (min-width: 1000px) {
  .banner-image-wrapper svg {
    max-height: 100%;
  }
}

.banner-title {
  color: #eee;
  font-size: 5rem;
  line-height: 1.125;
  font-family: 'Lobster', cursive;
}

.banner-nav {
  display: block;
  padding: 1rem;
  font-size: 0.9rem;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  backdrop-filter: blur(25px);
  border: 1px solid #999;
  border-radius: 8px;
  margin-top: 1.25rem;
  flex-wrap: wrap;
}

.banner-nav-item {
  margin-right: 1.5rem;
  margin-bottom: 0.75rem;
  font-weight: 400;
}

.banner-nav-item:hover,
.banner-nav-item:focus {
  background-color: #e8fbfa;
  color: var(--color-text-primary);
  text-decoration: none;
}

.services-outer {
  padding: 4rem 0 3rem;
  background-color: #d9deff;
}

.services-title {
  font-size: 1.75rem;
  line-height: 1.25;
  text-align: center;
}

.services {
  margin-top: 1.5rem;
}

.services-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

@media all and (min-width: 1000px) {
  .services-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

.services-item {
  background-color: var(--color-bg-primary);
  padding: 1.25rem;
  border-radius: 7px;
  border: 1px solid #011C3D;
  position: relative;
  transition: 0.3s !important;
}

@media all and (min-width: 1000px) {
  .services-item {
    padding: 1.75rem;
  }
}

.services-item:hover,
.services-item:focus-within {
  transform: translateY(-0.5rem) !important;
  transition: 0.3s !important;
  box-shadow: rgb(80, 112, 145) 0px 10px 20px -5px, 0 3px 0 rgb(115, 134, 255);
}

.services-item-link {
  font-size: 1.25rem;
  text-decoration: none;
}

.services-item-link:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.services-item-description {
  margin-top: 0.75rem;
}

.services-actions {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.link-btn {
  background-color: var(--color-links-primary);
  color: var(--palette-5);
  display: inline-flex;
  padding: 0.5em 1em;
  text-decoration: none;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 400;
}

.link-btn:after {
  display: block;
  content: "arrow_forward";
  font-family: "Material Icons Outlined";
  margin-left: 0.5rem;
}

.link-btn:hover,
.link-btn:focus {
  background-color: var(--color-text-primary);
}

@media all and (min-width: 1000px) {
  .news-inner {
    grid-template-columns: repeat(12, 1fr);
  }
}

.grid-width-7 {
  grid-column: span 1;
}

@media all and (min-width: 1000px) {
  .grid-width-7 {
    grid-column: span 7;
  }
}

.grid-width-5 {
  grid-column: span 1;
}

@media all and (min-width: 1000px) {
  .grid-width-5 {
    grid-column: 8/span 5;
  }
}

.footer {
  background-color: #000F26;
  color: #fff;
  padding: 4rem 0 8rem;
  background-image: url("img/topography.svg");
  background-repeat: no-repeat;
  background-size: 700px;
  background-position: bottom -175px right -300px;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem;
  line-height: 1.375;
}

@media all and (min-width: 1000px) {
  .footer-content {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    font-size: 1.125rem;
  }
}

.footer-heading {
  font-size: 1.5rem;
}

.footer-heading+* {
  margin-top: 1.5rem;
}

.footer-datalist dt {
  margin-top: 1.75rem;
  color: var(--palette-6);
}

.footer-datalist dt:first-of-type {
  margin-top: 0;
}

.footer-datalist dd {
  margin-top: 0.25rem;
}

.footer-datalist a {
  font-weight: 400;
  text-decoration: none;
}

.footer-datalist a:hover,
.footer-datalist a:focus {
  background-color: var(--palette-6);
  color: var(--color-text-primary);
}

.some-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.some-list-item {
  margin-right: 0.75rem;
}

.some-list-link {
  display: block;
  line-height: 1;
}

.some-list-link svg {
  width: 2rem;
}

.manifesto {
  animation: manifesto 2s infinite alternate;
}

@keyframes manifesto {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}

@media screen and (max-width: 768px) {
  .banner-title {
    font-size: 3rem !important;
  }
  .banner-image-wrapper,
  .bg-svg {
    display: none;
  }
}

.chevron-navigation {
  cursor: pointer;
  display: inline;
  background: transparent;
  border: 1px solid #999;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  backdrop-filter: blur(25px);
  padding: 0.6rem;
  border-radius: 6px;
  margin-right: 0.5rem;
  background-position: center;
  transition: background 0.8s;
  user-select: none;
}

.chevron-navigation:hover {
  background: #b3b3b3 radial-gradient(circle, transparent 1%, #cbcbcb 1%) center/15000%;
}

.chevron-navigation:active {
  background-color: #b3b3b3;
  background-size: 100%;
  transition: background 0s;
}